* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
}

.time-select, .sound-picker, .player-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  flex-grow: 1;
}

.player-container {
  position: relative;
}

.player-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.time-display {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 50px;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -1;
}

.time-select button, .sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.5s ease;
}

.time-select button:hover, .sound-picker button:hover {
  color: #000;
  background-color: #fff;
}

.sound-picker button {
  border: none;
  border-radius: 50%;
  padding: 30px;
  height: 120px;
  width: 120px;
}

.sound-picker button img {
  height: 100%;
}

.sound-picker button:nth-child(1) {
  background-color: #4972a1;
}

.sound-picker button:nth-child(2) {
  background-color: #a14f49;
}
